<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div class="header">
    <div class="logo">πϱTorrent v0.x</div>
    <div class="up">Upload rate: {{ c.r.get_upload_rate }}</div>
    <div class="down">Download rate: {{ c.r.get_download_rate }}</div>
</div>


{% block main %}
<h1> O GOD WTF </h1>
{% endblock %}
</body>
</html>
