{% extends "base.jinja2" %}

{% block main %}
{% if c.torrents %}
    <ul>
    {% for x in c.torrents %}
    <li class="torrent">
    <p class="t_header">
        <a href="torrent/{{ x.get_hash }}/index"> Name: {{ x.get_name }} </a>
    </p>
    <p> Current down / up: {{ x.get_download_rate }} /
                           {{ x.get_upload_rate }} </p>
    {% if x.is_complete %}
    <p> <b>Complete.</b> (Total: {{ x.get_size_bytes }}) </p>
    {% else %}
    <p> <b>Incomplete:</b> (Local: {{ x.get_download_total }} /
                            {{ x.get_size_bytes }}) </p>
    {% endif %}

    </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

