<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
<div class="header">
    <div class="logo">πϱTorrent v0.x</div>
    <div class="up">Upload rate: {{ c.up_rate }}</div>
    <div class="down">Download rate: {{ c.down_rate }}</div>
</div>

{% if c.t %}
    <p> {{ c.t.get_name }} ({{ c.t.get_size_bytes - c.t.get_bytes_left }} / 
        {{ c.t.get_size_bytes }}) </p>
    <p> Loaded file: {{ c.t.get_loaded_file }} </p>
    <p>
    Files:
    <ul>
    {% for x in c.t.get_files %}
    <li> {{ x.get_path }} </li>
    {% endfor %}
    </ul>
    </p>
{% endif %}
</body>
</html>
