body {
    /*background-color: rgb(68, 68, 68); */
    background-image: url('/torrent/static/cat.jpg');
    color: #fff;
    font: 12px/18px "Liberation Sans", Arial, Verdana, Sans;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(85, 85, 85, 0.4);
    color: #fff;
    font-weight: bold;

    -moz-border-radius: 15px;
    border-radius: 15px;

    margin: 1em;
    padding-left: 1em;
}

span.logo {
    font-size: 22px;
    line-height: 33px;
    margin-right: 10px;
}

#torrent_list {
/*    margin: 20px 0 0 0; */
    margin: 1em;
    padding: 0;

}

div.torrent_list_wiz {
    background-color: rgba(102, 102, 102, 0.4);
    padding: 1em;

    -moz-border-radius: 15px;
    border-radius: 15px;
}

#torrent_list ul {
    margin: 0em;
    padding: 0;

}

#torrent_list li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px 6px;
    list-style: none;


    /*
    border: 2em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    */
}


span.up {
    color: #0CC;
}

span.down {
    color: #C90;
}

h1.target_header {
    padding-top: 1em;
}

div.target_header_bottom {
    padding-bottom: 1em;
}

span.ip {
    color: #fff;
    font-weight: bold;
}

li.torrent_complete {
    background-color: rgba(34, 153, 34, 0.4);
}

li.torrent_incomplete {
    background-color: rgba(190, 190, 240, 0.4);
}

span.upload_rate, span.download_rate, span.progress {
    clear: none;
    display: inline-block;
    margin-top: -17px;
    position: absolute;
    right: 0%;
    text-align: right;
}

span.progress {
    border: 1px solid #272;
    width: 140px;
    height: 14px;
    right: 20px;
    line-height: 16px;

    /*
    -moz-border-radius: 15px;
    border-radius: 15px;
    */
}

span.download_rate {
    margin-right: 210px;
}

span.upload_rate {
    margin-right: 152px;
}

span.progress {
    color: #000; /* #aaa; */
    margin-right: 0px;
}

a {
    color: #fff;
}

a:link {
    color: #fff;
}

a:visited {
    color: #ddd;

}

div.target_info {
    background-color: rgba(34, 34, 34, 0.4);
    color: #fff;

    font-size: 14px;
    font-weight: bold;

    border: 2em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div.inner_target_info {
    margin: 2em;
}


li.torrent_complete span.progress {
    color: #eee;
    border: 0;
    padding: 1px 5px;
}

li.torrent_incomplete span.progress_bar {
    /* Made the background colour more visible. I probably lack taste so
     * feel free to change it to a more fitting (but still noticable!) colour
     */
    background-color: rgba(50, 200, 60, 0.4);
    width: 20%;
    height: 14px;
    display: block;
    float: left;
    position: absolute;
    z-index: 1;
}

li.torrent_incomplete span.progress_text {
    display: inline-block;
    float: right;
    position: absolute;
    text-align: right;
    right: 2px;
    width: 100%;
    z-index: 2;

    color: #eee;
}

span.download_icon, span.upload_icon {
    float: right;
    height: 16px;
    width: 16px;
    margin-left: 0em;
    margin-right: 1em;
}

span.download_icon {
    background: transparent url(/torrent/static/icons/arrow_down.png);
}
span.upload_icon {
    background: transparent url(/torrent/static/icons/arrow_up.png);
}


div.torrent-def-div {
    background-color: rgba(100, 100, 100, 0.4);
   /* background-color: rgba(34, 34, 34, 0.4);*/
    color: #fff;

    margin-top: 2em;
    padding: 1em;
    border: 2em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
