body {
    background-color: #444;
    color: white;
    font: 12px/18px "Liberation Sans", Arial, Verdana, Sans;
    margin: 0;
    padding: 0;
}

header {
    background-color: #555;
}

a {
    color: #fff;
}

#torrent_list {
    margin: 20px 0 0 0;
    padding: 0;
}

#torrent_list ul {
    margin: 0;
    padding: 0;
}

#torrent_list li {
    margin: 1px;
    padding: 2px 6px;
    list-style: none;
}

div.logo {
    float: right;
    color: #F00;
    font-weight: bold;
    margin-right: 1em;
}

div.up {
    float: left;
    margin-right: 1em;
    color: #0C0;
    font-weight: bold;
}

div.down {
    color: #C00;
    font-weight: bold;
}

div.ip {
    color: #fff;
    font-weight: bold;
}

li.torrent_complete {
    background-color: #292;
}

li.torrent_incomplete {
    background-color: #333;
}

span.upload_rate, span.download_rate, span.progress {
    clear: none;
    display: inline-block;
    margin-top: -17px;
    position: absolute;
    right: 0%;
    text-align: right;
}

span.progress { 
    border: 1px solid #272;
    width: 140px;
    height: 14px;
    right: 4px;
    line-height: 16px;
}

span.download_rate {
    margin-right: 210px;
}

span.upload_rate {
    margin-right: 152px;
}

span.progress {
    color: #aaa;
    margin-right: 0px;
}

li.torrent_complete span.progress {
    color: #eee;
    border: 0;
    padding: 1px 5px;
}

li.torrent_incomplete span.progress_bar {
    background-color: rgba(33, 33, 33, .6);
    width: 20%;
    height: 14px;
    display: block;
    float: left;
    position: absolute;
    z-index: 1;
}

li.torrent_incomplete span.progress_text {
    display: inline-block;
    float: right;
    position: absolute;
    text-align: right;
    right: 2px;
    width: 100%;
    z-index: 2;
}

span.download_icon, span.upload_icon {
    float: right;
    height: 16px;
    width: 16px;
    margin-left: 4px;
}

span.download_icon {
    background: transparent url(/static/icons/arrow_down.png);
}
span.upload_icon {
    background: transparent url(/static/icons/arrow_up.png);
}

