body {
    background-color: #444;
    color: white;
    font: 12px/18px "Liberation Sans", Arial, Verdana, Sans;
    margin: 0;
    padding: 0;
}

header {
    background-color: #555;
}

a {
    color: #fff;
}

#torrent_list {
/*    margin: 20px 0 0 0; */
    margin: 1em;
    padding: 0;

}

#torrent_list ul {
    margin: 0em;
    padding: 0;
}

#torrent_list li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px 6px;
    list-style: none;


    /*
    border: 2em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    */
}

span.logo {
    font-size: 22px;
    line-height: 33px;
    color: #ddd;
    font-weight: bold;
    margin-right: 10px;
}

span.up {
    color: #0C0;
}

span.down {
    color: #C00;
}

h1.target_header {
    padding-top: 1em;
}

div.target_header_bottom {
    padding-bottom: 1em;
}

span.ip {
    color: #fff;
    font-weight: bold;
}

li.torrent_complete {
    background-color: #292;
}

li.torrent_incomplete {
    background-color: #333;
}

span.upload_rate, span.download_rate, span.progress {
    clear: none;
    display: inline-block;
    margin-top: -17px;
    position: absolute;
    right: 0%;
    text-align: right;
}

span.progress { 
    border: 1px solid #272;
    width: 140px;
    height: 14px;
    right: 20px;
    line-height: 16px;

    /*
    -moz-border-radius: 15px;
    border-radius: 15px;
    */
}

span.download_rate {
    margin-right: 210px;
}

span.upload_rate {
    margin-right: 152px;
}

span.progress {
    color: #aaa;
    margin-right: 0px;
}

div.target_info {
    border: 1px;
    background-color: #222;
    font-size: 14px;
/*    margin: 1em; */

    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2em;
}

div.inner_target_info {
    margin: 2em;
}

li.torrent_complete span.progress {
    color: #eee;
    border: 0;
    padding: 1px 5px;
}

li.torrent_incomplete span.progress_bar {
    /* Made the background colour more visible. I probably lack taste so
     * feel free to change it to a more fitting (but still noticable!) colour
     */
    background-color: rgba(50, 200, 60, .6);
    width: 20%;
    height: 14px;
    display: block;
    float: left;
    position: absolute;
    z-index: 1;

    /*
    -moz-border-radius: 15px;
    border-radius: 15px;
    */
}

li.torrent_incomplete span.progress_text {
    display: inline-block;
    float: right;
    position: absolute;
    text-align: right;
    right: 2px;
    width: 100%;
    z-index: 2;
}

span.download_icon, span.upload_icon {
    float: right;
    height: 16px;
    width: 20px;
    margin-left: 0em;
    margin-right: 1em;
}

span.download_icon {
    background: transparent url(/static/torrent/icons/arrow_down.png);
}
span.upload_icon {
    background: transparent url(/static/torrent/icons/arrow_up.png);
}

