<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{static_url}}/style.css" />
    <meta charset="utf-8"/>
    <title>{% block title %} pyroTorrent {% endblock %}</title>
</head>
<body>

<header>
    <div class="logo">πϱTorrent v0.05 (libTorrent {{
        rtorrent_data.get_libtorrent_version }})</div>
    {% if rtorrent_data %}
    <div class="up">Upload rate: {{ rtorrent_data.get_upload_rate }}</div>
    <div class="down">Download rate: {{ rtorrent_data.get_download_rate }}</div>
    <div class="ip">IP: {{ rtorrent_data.get_ip }}</div>
    <div class="ip">Memory: {{ rtorrent_data.get_memory_usage }} / {{
        rtorrent_data.get_max_memory_usage }}</div>
    <div class="ip"> Hostname: {{ rtorrent_data.get_hostname }} </div>
    {% endif %}
    <div class="up"> <a href="{{base_url}}">Home</a> </div>
    <div class="up"> <a href="{{base_url}}/add_torrent">Add Torrent</a> </div>
    <div class="up"> <a href="{{base_url}}">Admin</a> </div>
    {% block nav %}
    {% endblock %}
</header>

<section id="torrent_list">
{% block main %}
<h1> O GOD WTF </h1>
{% endblock %}
</section>
</body>
</html>
