<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{static_url}}/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/style.css" />
    <meta charset="utf-8"/>
    <title>{% block title %} pyroTorrent {% endblock %}</title>
</head>
<body>

<header>

    {#
    <div class="ip">IP: {{ rtorrent_data.get_ip }}</div>
    <div class="ip">Memory: {{ rtorrent_data.get_memory_usage }} / {{
        rtorrent_data.get_max_memory_usage }}</div>
    <div class="ip"> Hostname: {{ rtorrent_data.get_hostname }} </div>
    {% endif %}
    #}

    <span class="logo">πϱTorrent v0.13-dev</span>
    <span> <a href="{{base_url}}/">Home</a> </span>
    <span> <a href="{{base_url}}/">Admin</a> </span>
    {% if login and use_auth %}
    <span>
        <a href="{{base_url}}/logout">Logout ( {{ login }} )</a>
    </span>
    {% elif use_auth %}
    <span>
        <a href="{{base_url}}/login">Login</a>
    </span>
    {% endif %}
    {% block nav %}
    {% endblock %}

</header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes">
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}

<section id="torrent_list">
{% block main %}
<h1> O GOD WTF </h1>
{% endblock %}
</section>
</body>
</html>
