{% extends "base.jinja2" %}

{% block main %}
<p> View: {{ view}} </p>
{% if torrents %}
    <ul>
    {% for x in torrents %}
    <li class="torrent torrent_{% if not x.is_complete %}in{% endif %}complete">
    <a href="{{base_url}}/torrent/{{ x.get_hash }}">{{ x.get_name }} </a>
        <!-- Place other options/ icons here.... Resume... Pause... Delete...
        View -->
    {% if not x.is_complete %}
    <!-- Needs icons -->
    <span class="download_rate">
        <span class="download_icon"></span>
        {% if x.get_download_rate > 0 %}
        {{ x.get_download_rate }}
        {% else %}
        {{ x.get_download_rate }}
        {% endif %}
    </span>
    {% endif %}

    <span class="upload_rate">
        <span class="upload_icon"></span>
        {% if x.get_upload_rate > 0 %}
        {{ x.get_upload_rate }}</span>
        {% else %}
        {{ x.get_upload_rate }}
        {% endif %}
    </span>

    <span class="progress">
        {% if not x.is_complete %}

        <span class="progress_bar" style="width: {{ x.get_download_total /
            x.get_size_bytes * 100.0 }}%"></span>
        {% endif %}
        <span class="progress_text">
            {% if x.is_complete %}
            {{ x.get_size_bytes }}
            {% else %}
            {{ x.get_download_total }} / {{ x.get_size_bytes }}
            {% endif %}
        </span>
    </span>

    </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
