{% extends "base.jinja2" %}

{% macro dfs(node) -%}

<li>
{% if node.children %}
<b>{{ node.name }}</b>
{% else %}
<i>{{ node.name }}</i>
{% endif %}
</li>

{% if node.children %}
    <ul>
    {% for x in node.children %}
        {{ dfs(x) }}
    {% endfor %}
    </ul>
{% endif %}
{%- endmacro %}

{% block main %}
{% if torrent %}
    <div style="margin: 2em">
        <p> {{ torrent.get_name }}
        ({{ torrent.get_size_bytes - torrent.get_bytes_left }} /
        {{ torrent.get_size_bytes }}) </p>
    <p> Loaded file: {{ torrent.get_loaded_file }} </p>
    <p>
    <ul>
        {{ dfs(tree) }}
    </ul>
    </p>
    </div>
{% endif %}
{% endblock %}
