{% extends "base.jinja2" %}

{% macro dfs(node) -%}

<li>
{% if node.children %}
<b>{{ node.name }}</b>
{% else %}{% if file_downloads %}
<a href="{{base_url}}/target/{{target['name']}}/torrent/{{torrent.get_hash}}/get_file/{{ node.get_path_no_root() }}"<i>{{ node.name }}</i></a>
{% else %}
<i>{{ node.name }}</i>
{% endif %}
{% endif %}
</li>

{% if node.children %}
    <ul>
    {% for x in node.children %}
        {{ dfs(x) }}
    {% endfor %}
    </ul>
{% endif %}
{%- endmacro %}

{% block main %}
{% if torrent %}
        <div class="torrent-def-div">
        <h1> {{ torrent.get_name }}
            ({{ wn(torrent.get_download_total) }} /
            {{ wn(torrent.get_size_bytes) }}) </h1>
        <p> Loaded file: 
        <a
            href="{{base_url}}/target/{{target['name']}}/torrent/{{torrent.get_hash}}.torrent">
            {{ torrent.get_loaded_file }}
        </a>
        </p>
        {% if torrent.get_message %}
        <p> Message: {{ torrent.get_message }} </p>
        {% endif %}
        <p> Active:
        {% if torrent.is_active %}
        True
        {% else %}
        False
        {% endif %}
        </p>
        </div>
        <div class="torrent-def-div">
        <p>
        <ul>
            {{ dfs(tree) }}
        </ul>
        </p>
    </div>
{% endif %}
{% endblock %}
