{% extends "base.jinja2" %}

{% block main %}

<div class="torrent-def-div">
    <h1> Add a torrent with a direct link </h1>
    <form method="post" action="{{ url_for('add_torrent_page', target=target) }}">
        <p> Enter the Torrent URL here: <input type="text"
        name="torrent_url"></input> </p>
        <input type="submit" value="Add torrent"></input>
    </form>
</div>

<div class="torrent-def-div">
    <h1> Add a torrent via magnet link</h1>
    <form method="post" action="{{ url_for('add_torrent_page', target=target) }}">
        <p> Enter the magnet link here: <input type="text"
        name="magnet"></input> </p>
        <input type="submit" value="Add torrent"></input>
    </form>
</div>

<script type="text/javascript">
<!-- hack from http://www.dreamincode.net/forums/topic/15621-styling-a-file-browse-button/ -->
function buttonPush (buttonStatus) {
   if (buttonStatus == "depressed")
      document.getElementById("pseudobutton").style.borderStyle = "inset";
   else
      document.getElementById("pseudobutton").style.borderStyle = "outset";
}
</script>

<div class="torrent-def-div">
    <h1> Add a local torrent file </h1>
    <form method="post" action="{{ url_for('add_torrent_page', target=target) }}"
        enctype="multipart/form-data">

    <p>
    <input type="button" class="red" id="pseudobutton" value="Open File">

    <input type="file" class="hide" name="torrent_file"
           onmousedown="buttonPush('depressed');"
           onmouseup="buttonPush('normal');"
           onmouseout="buttonPush('phased');" >
    </p>

     <p> <input type="submit" value="Add torrent"></input> </p>
    </form>
</div>

{% endblock %}
